awkward0==0.15.5
cachetools==4.2.4
cppyy==3.0.0
cppyy-backend==1.14.11
cppyy-cling==6.28.0
CPyCppyy==1.12.13
easydict==1.10
future==0.18.3
importlib-resources==5.4.0
joblib==1.1.1
mpmath==1.3.0
numpy==1.19.5
packaging==21.3
pandas==1.1.5
Pillow==8.4.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
rdkit-pypi==2021.9.4
scikit-learn==0.24.2
scipy==1.5.4
setuptools-scm==6.4.2
six==1.16.0
threadpoolctl==3.1.0
tomli==1.2.3
torch==1.5.0
tqdm==4.64.1
uproot3==3.14.4
uproot3-methods==0.10.1
zipp==3.6.0
